# Скрываем системные папки Flutter от статистики языков GitHub
mobile_app/windows/** linguist-generated
mobile_app/linux/** linguist-generated
mobile_app/macos/** linguist-generated
mobile_app/ios/** linguist-generated
mobile_app/android/** linguist-generated